footer {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    position: fixed;
    bottom: 0;
    line-height: 60px;
}