header {
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url('../images/logo.png');
    margin-left: 20px;
    height: 60px;
    width: 140px;
    border-bottom: 0;
}