* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    height: 250%;
    margin-bottom: 30px;
}